body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-image: url('images/chilldren.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    box-sizing: border-box;
}

header {
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), transparent);
    color: white;
    text-align: center;
    padding: 4vh 0;
    z-index: 100;
    transition: transform 0.3s ease;
    border-radius: 0;
}

header h1 {
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 3vh;
}

.slideshow-container {
    width: 100%;
    height: 70vh;
    position: relative;
    margin: 2vh 0;
    box-sizing: border-box;
    padding: 0 20px;
}

.slide {
    display: none;
    box-sizing: border-box;
}

.slide-content {
    display: none;
    /* Hide by default */
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.9);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    padding: 2vh;
    width: 80%;
    margin: 0 auto;
    box-sizing: border-box;
}

.slide-content.active {
    display: flex;
    /* Make it visible when active */
}

.slide img {
    max-width: 100%;
    max-height: 40vh;
    height: auto;
    margin-bottom: 1vh;
    border-radius: 5px;
    box-sizing: border-box;
}

.text {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
}

.verse {
    font-size: 2.5vh;
    font-weight: bold;
    margin-bottom: 1vh;
    line-height: 1.6;
    box-sizing: border-box;
}

.context {
    font-size: 2vh;
    font-style: italic;
    margin-bottom: 1vh;
    line-height: 1.6;
    box-sizing: border-box;
}

.prompt {
    font-size: 2vh;
    font-weight: bold;
    color: #333;
    line-height: 1.6;
    box-sizing: border-box;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 3vh;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
    box-sizing: border-box;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
}

.fade {
    animation-name: fade;
    animation-duration: 2.5s;
    animation-timing-function: ease-in-out;
    box-sizing: border-box;
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.slide.fade-out {
    animation-name: fade-out;
    animation-duration: 2.5s;
    animation-timing-function: ease-in-out;
    box-sizing: border-box;
}

@keyframes fade-out {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.dot-container {
    text-align: center;
    margin-top: 1vh;
    box-sizing: border-box;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
    box-sizing: border-box;
}

.active,
.dot:hover {
    background-color: #717171;
    box-sizing: border-box;
}

/* Media Query for Phone Devices */
@media (max-width: 600px) {
    .verse {
        font-size: 2vh;
    }

    .context,
    .prompt {
        font-size: 1.8vh;
    }

    .slide-content {
        padding: 1vh;
    }

    .slide img {
        max-width: 90%;
        max-height: 30vh;
    }
}

.watermark {
    text-align: center;
    padding: 3vh 0;
    background: linear-gradient(transparent, rgba(0, 0, 0, 0.7));
    color: white;
    font-size: 1.8vh;
    margin-top: 2vh;
    font-weight: bold;
    position: relative;
    z-index: 10;
}